.section-splash {
    height: 100vh;
    background-color: #fff;
    background-image: url(../images/splash-bg-alt.jpg);
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}

.section-splash__text-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.section-splash__heading-primary {
    text-align: center;
    padding: 10rem;
 }

 .heading-primary--main {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 100px;
    margin-bottom: 20px;
    text-shadow: 0 0 8px #FECE8C, 0 0 10px #6d366F;
    color: #fff;
 }

 .heading-primary--sub {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 3px #4F2E65;
    color: #fff;
 }

 .heading-primary-sub-2 {
    font-size: 15px;
    color: #fff;
 }

 /* BUTTONS */

 .btn-splash {
    background: linear-gradient(329deg, #fece8c, #fe5651, #6d366f);
     margin: 30px;
 }

 .btn-splash a:link,
 .btn-splash a:visited {
     color: #fff;
     text-shadow: 1px 1px 3px #4F2E65;
     font-weight: 600;
     font-size: 16px;
     padding: 5px;

 }

 .btn-splash:hover,
 .btn-splash:active {
    background: linear-gradient(329deg, #6d366f, #fe5651, #fece8c);
    background-size: 300% 300%;
    animation: btn-splash-animate 5s ease infinite;

 }

 .btn-splash:active {
    transform: translateY(2px);
 }

 a:hover,
 a:active {
    color: #FECE8C;
 }

 /* BUTTON GRADIENT ANIMATIONS */
 
@keyframes btn-splash-animate {
    0%{background-position:0% 100%}
    50%{background-position:100% 50%}
    100%{background-position:100% 0%}
}


/* POPUP STYLING */

.popup {
   height: 100vh;
   width: 100%;
   background-image: linear-gradient(to bottom left, rgba(109, 54, 111, .8), rgba(254, 206, 140, .8));
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999;
 
   opacity: 0; 
   visibility: hidden;
   transition: all .5s;
   }
 
   .popup:target {
     opacity: 1;
     visibility: visible;
   }

   .popup__content {
      position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      width: 50%;
      background-color: #fff;
      box-shadow: 2px 3px 4px rgba(0, 0, 0, .7);
      border-radius: 3px;
  }

  .popup__btn {
   color: #999;
   text-transform: uppercase;
   background-color: #fff;
   border-radius: 30px;
   outline: none;
   box-shadow: none;
   padding: 30px;
  }

   .popup__btn:active {
       transform: translateY(2px);
       box-shadow: 0 5px 1rem rgba(#000, .2);
   }

   .popup__btn--exit {
       font-size: 23px;
       border: transparent;
   }

   .popup__btn--exit:hover {
      color: #fe5651;
  }